<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402944316207-v1vffbqn73oo7vn310lq2sci3okf651q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402944316207-v1vffbqn73oo7vn310lq2sci3okf651q</string>
	<key>API_KEY</key>
	<string>AIzaSyDRfDvcrQzaQeDpkM86_0YdRobSYDEWSSw</string>
	<key>GCM_SENDER_ID</key>
	<string>402944316207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spoil</string>
	<key>PROJECT_ID</key>
	<string>spoilme-1</string>
	<key>STORAGE_BUCKET</key>
	<string>spoilme-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:402944316207:ios:e7e343f91e886a2851c7da</string>
</dict>
</plist>
